body{
  margin:0;
  padding:0;
  font-size:12px;
  overflow:auto;
  font-family: 'Inconsolata' !important;
  background: black;
  
}

#mainDiv{
  width:100%;
  height:100%
}

#loveHeart{
  float:left;
  width:670px;
  height:625px
}

#garden{
  width:100%;
  height:100%
}

#elapseClock{
  text-align:right;
  font-size:18px;
  margin-top:10px;
  margin-bottom:0px
}

#words{
  width:500px;
  font-size:24px;
  color:#666
}

#messages{
  display:none
}

#elapseClock .digit
{
  font-family:"digit";
  font-size:36px
}

#loveu
 {
  padding:5px;
  font-size:22px;
  margin-top:30px;
  margin-right:0px;
  text-align:center;
  display:none
}

#loveu .signature{
  margin-top:10px;
  font-size:20px;
}

#clickSound{
  display:none
}

#code{
  float:left;
  position: fixed;
  bottom: 37px;
  left: 50%;
  transform: translateX(-50%);
  font-size:20px
}


#errorMsg{
  width:100%;
  text-align:center;
  font-size:24px;
  position:absolute;
  top:100px;
  left:0
}

canvas {
	cursor: crosshair;
 	display: block;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  14% { transform: scale(1.1); }
  28% { transform: scale(1); }
  42% { transform: scale(1.1); }
  70% { transform: scale(1); }
}

.heartbeat {
  animation: heartbeat 2s infinite;
}
 